// variable start here
$c_primary: #414de1;
$c_secondary: #00a1ff;
$c_heading: #1d1d1d;
$light: #ecf6fd;
$light_grey: #eef2f6;
$grey: #9aa4b2;
$c_black: #000;
$c_white: #ffffff;
$c_amazon: #e3e6e6;
$c_red: #d92d20;
$c_green: #079455;
$c_orange: #dc6803;
$f_body: "Graphik";
$f_goudy: "Goudy Bookletter 1911";
$transition: all 0.3s ease-in-out 0s;
// veriable end

// fonts
@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-Black.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-BlackItalic.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-Bold.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-LightItalic.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-Light.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-ExtralightItalic.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-ExtralightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-Extralight.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-Extralight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-BoldItalic.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-Medium.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-Thin.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik Super";
    src: url("../../public/sitefont/Graphik-Super.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-Super.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-MediumItalic.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-RegularItalic.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-Semibold.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-Regular.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik Super";
    src: url("../../public/sitefont/Graphik-SuperItalic.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-SuperItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-SemiboldItalic.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-SemiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../../public/sitefont/Graphik-ThinItalic.woff2") format("woff2"),
        url("../../public/sitefont/Graphik-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

.goudy {
    font-family: $f_goudy;
}

.ant-input-affix-wrapper {
    padding: 14px 18px 14px 45px !important;
    font-size: 16px !important;
    background-color: transparent !important;
    color: #9aa4b2 !important;
    font-weight: 400 !important;
}

.ant-input-affix-wrapper:focus {
    border-color: black !important;
    box-shadow: 0.5px solid var(--border, #eef2f6) !important;
    border-inline-end-width: none !important;
    outline: 1px !important;
}

.ant-input-affix-wrapper:focus {
    border-color: black !important;
}

// reset css start here
* {
    outline: none !important;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $c_amazon;
    color: $c_heading;
    font-family: $f_body;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

a,
a:hover {
    //   color: $c_text;
    transition: $transition;
}

b,
strong {
    font-weight: 600;
}

a {
    text-decoration: none;
    font-size: 16px;
}

li {
    list-style: none;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: $c_heading;
    margin-bottom: 0;
    font-family: $f_body;
}

p {
    margin-bottom: 0;
}

img {
    position: unset !important;
}

figure {
    line-height: 0;
}

button,
select {
    cursor: pointer;

    font-family: $f_body;
}

h1,
.hd_1 :where(h1, h2, h3, h4, h5, h6),
.ab_cnt.hd_1 h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (max-width: 1399.98px) {
        font-size: 45px;
    }

    @media screen and (max-width: 1199.98px) {
        font-size: 42px;
    }

    @media screen and (max-width: 767.98px) {
        font-size: 36px;
    }

    @media screen and (max-width: 575px) {
        font-size: 28px;
    }
}

h2,
.hd_2 :where(h1, h2, h3, h4, h5, h6) {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (max-width: 1399.98px) {
        font-size: 36px;
    }

    @media screen and (max-width: 1199.98px) {
        font-size: 32px;
    }

    @media screen and (max-width: 767.98px) {
        font-size: 28px;
    }

    @media screen and (max-width: 575px) {
        font-size: 24px;
    }
}

h3,
.hd_3 :where(h1, h2, h3, h4, h5, h6) {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (max-width: 1399.98px) {
        font-size: 36px;
    }

    @media screen and (max-width: 1199.98px) {
        font-size: 32px;
    }

    @media screen and (max-width: 991.98px) {
        font-size: 30px;
    }

    @media screen and (max-width: 991.98px) {
        font-size: 25px;
    }
}

h4,
.hd_4 :where(h1, h2, h3, h4, h5, h6) {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
}

h5,
.hd_5 :where(h1, h2, h3, h4, h5, h6),
.m_hd h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (max-width: 1399.98px) {
        font-size: 28px;
    }
}

h6,
.hd_6 :where(h1, h2, h3, h4, h5, h6) {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (max-width: 1199.98px) {
        font-size: 22px;
    }
}

ul {
    padding: 0;
}

body,
p,
li {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    //   color: $c_text;
    font-family: $f_body;

    @media screen and (max-width: 1199.98px) {
        font-size: 16px;
    }
}

.conta_iner {
    max-width: 1720px;
    margin: 0 auto;

    @media screen and (max-width: 1400px) {
        width: 90%;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    img {
        @media screen and (max-width: 480px) {
            max-width: 130px;
        }
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.scrolled {
    background-color: $c_heading;
    z-index: 1024;
}

#set:hover {
    border: 1px solid #fff;
}

.nav-belt {
    display: flex;
    justify-content: space-between;
    background-color: #131921;

    span {
        color: #ffffff;
        font-size: 14px;
        line-height: 15px;
        font-weight: 500;
    }

    .nav-left {
        display: flex;
        padding: 0px 8px;
        width: 25%;
        align-items: center;
        justify-content: space-between;

        .nav-logo {
            display: flex;
            flex-shrink: 0;
            text-decoration: none;
            padding: 1px 8px 0 6px;
            margin: 1px;
            border: 1px solid transparent;

            figure {
                height: 57px;
                width: 120px;
            }

            span {
                color: #fff;
                margin-top: 20px;
            }
        }

        .nav-logo:hover {
            border: 1px solid #fff;
            border-radius: 3px;
        }

        .nav-global-location-slot {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            padding: 0 9px 0 9px;
            width: 100%;

            .nav-location {
                background-image: url("../../public/images/location_map_icon.png");
                height: 16px;
                width: 17px;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                margin-top: 10px;
            }

            .glow-increase-block {
                display: flex;
                flex-direction: column;

                span {
                    color: #ccc;
                    margin-top: 0;
                    padding-right: 0;
                    font-size: 12px;
                    line-height: 14px;
                    height: 14px;
                    font-weight: 400;
                }

                span:nth-child(2) {
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 15px;
                    font-weight: 500;
                }
            }
        }

        .nav-global-location-slot:hover {
            border: 1px solid #ccc;
            border-radius: 2px;
        }
    }

    .nav-fill {
        margin: 0 10px;
        padding-top: 8px;
        height: 60px;
        width: 50%;

        .nav-search {
            display: flex;
            flex-direction: row;

            select {
                width: 10%;
                border: 0;
                background-color: #e6e6e6;
                border-radius: 4px 0 0 4px;
            }

            input {
                width: 100%;
                line-height: 15px;
                padding: 7px 10px 10px 0;
                margin: 0;
                border: 0;
                height: 38px;
                font-family: inherit;
                font-size: 15px;
                color: #111;
                outline: 0;
                -webkit-appearance: none;
                box-shadow: none;
                text-indent: 8px;
                direction: ltr;
            }

            .nav-lens-container {
                width: 40px;
                background-color: #ffff;
                max-width: 40px;
                padding: 10px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .nav-submit {
                width: 40px;
                border: 0;
                background-color: #f3a847;
                max-width: 40px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 0 4px 4px 0;

            }

            .nav-submit::after {
                content: "";
                background-image: url("../../public/images/search_icon.png");
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                height: 25px;
                width: 25px;

            }
        }

    }

    .nav-right {
        display: flex;
        width: 25%;
        justify-content: space-between;
        padding: 0px 8px;
        align-items: center;

        select {
            background-color: transparent;
            color: #DDD;
            font-size: 14px;
            height: 28px;
            padding: 0 1em;
            border: none;
        }

        div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .glow-increase-block {
                display: flex;
                flex-direction: column;

                span {
                    color: #ccc;
                    margin-top: 0;
                    padding-right: 0;
                    font-size: 12px;
                    line-height: 14px;
                    height: 14px;
                    font-weight: 400;
                }

                span:nth-child(2) {
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 15px;
                    font-weight: 500;
                }
            }

        }

        .nav-cart {
            display: flex;
            flex-direction: row;
            height: 100%;
            cursor: pointer;
            gap: 6px;

            span:nth-child(2) {
                font-size: 14px;
                margin-top: 50%;
            }

            .nav-cart-count {
                position: absolute;
                top: 14px;
                right: 40px;
                font-size: large;
                color: coral;
                background-color: #131921;
            }
        }

        .nav-cart::before {
            content: "";
            position: absolute;
            top: 14px;
            right: 33px;
            width: 30px;
            height: 30px;
            background-image: url("../../public/images/cart.png");
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }
    }
}

.nav-xshop {

    ul {
        display: flex;
        justify-content: space-between;
        background-color: #232f3e;
        color: #ecf6fd;

        li {
            list-style: none;
            padding: 2px;
            font-size: 16px;
            margin: 4px;
            cursor: pointer;
            border: 1px solid transparent;
        }

        li:hover {
            border: 1px solid #fff;
        }

    }
}

.sec-bck-top {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475A;
    color: #ffffff;
    cursor: pointer;
}

.sec-know-us {
    background-color: #232F3E;
    color: #fff;

    .main_footer {
        display: flex;
        justify-content: center;
        gap: 68px;
        margin: 0px;
        padding: 60px 0px;

        h2 {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            margin: 6px 0 14px 0;
        }

        li {
            color: #DDD;
            font-size: 14px;
            font-weight: 400;
            margin: 6px 0 14px 0;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .footer-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 0;

        .footer-lang {
            display: flex;
            align-items: center;

            figure {
                width: 150px;
                padding: 0 1em;
            }

            select {
                height: 28px;
                padding: 0 1em;
                background-color: transparent;
                color: #DDD;

                option {
                    background-color: #232F3E;
                    color: #DDD;

                    &:hover {
                        background-color: #37475A;
                    }

                }
            }
        }

        .footer-country {
            display: flex;

            li {
                color: #DDD;
                padding: 0 0.6em;
                cursor: pointer;
                word-wrap: break-word;
                font-size: 12px;
                line-height: 18px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.sec-bck-bot {
    background-color: #131A22;

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;

        .footer-more {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            padding: 10px 0;

            li {
                color: #DDD;
                padding: 0 0.6em;
                cursor: pointer;
                word-wrap: break-word;
                font-size: 14px;
                line-height: 18px;
                font-weight: 300;
                min-width: 32%;

                &:hover {
                    text-decoration: underline;
                }

                span {
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 500;
                }
            }
        }
    }

    .footer-end {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        .footer-legal {
            width: 21%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;

            p:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        p {
            color: #DDD;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            gap: 5px;
        }
    }
}

.signin-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 0px 7px #c5c5c5;

    .signin-area {
        width: 18%;

        .logo-bx {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 6px 0;
            cursor: pointer;

            figure {
                height: 57px;
                width: 120px;
            }

        }

        .signin-bx {
            border: 1px #ddd solid;
            padding: 20px;
            border-radius: 10px;

            .custom-hr {
                color: #ddd;
            }

            h2 {
                text-align: start;
                padding: 20px 0;
                font-size: 34px;
                font-weight: 400;

            }

            .form-group {
                display: flex;
                flex-direction: column;

                label {
                    display: block;
                    font-size: 14px;
                    padding-left: 2px;
                    padding-bottom: 2px;
                    font-weight: 600;

                }

                input {
                    height: 40px;
                    border: 1px #ddd solid;
                    border-radius: 5px;
                }

                button {
                    height: 40px;
                    border: 1px solid #f0c14b;
                    border-radius: 5px;
                    margin-top: 20px;
                    background-color: #f0c14b;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .conditions-privacy {
                margin-top: 15px;
                font-size: 14px;
                font-weight: 400;

                span {
                    cursor: pointer;
                    color: #0071c2;

                    &:hover {
                        text-decoration: underline;
                        color: #dc6803;
                    }
                }

            }

            .need-help {
                margin: 20px 0;

                p {
                    color: #0071c2;
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                        color: #dc6803;

                    }
                }
            }

            .buy-shop {
                padding: 10px 0;

                p {
                    margin-top: 6px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #0071c2;

                    &:hover {
                        text-decoration: underline;
                        color: #dc6803;
                        cursor: pointer;
                    }
                }

                p:nth-child(1) {
                    color: #000;
                    display: block;
                    font-size: 14px;
                    padding-left: 2px;
                    padding-bottom: 2px;
                    font-weight: 600;
                }
            }
        }
    }

    .create-account {
        margin: 20px 0;
        position: relative;

        p {
            position: absolute;
            right: 130px;
            top: -8px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            background-color: #fff;
            padding: 0 8px;
        }

    }

    .create-btn {
        appearance: none;
        background-color: transparent;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 8px;
        box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        box-sizing: border-box;
        color: #24292E;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        list-style: none;
        padding: 6px 16px;
        position: relative;
        transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        word-wrap: break-word;
        width: 100%;
        margin-bottom: 20px;
    }
}